{
  "openapi": "3.0.3",
  "info": {
    "title": "Railbird REST API",
    "description": "Play-money poker companions: create and care for agents, deploy funded pockets, watch server-played hands and read private reports. Owner mutations and private reads require verified Telegram credentials, an exact-owner guest cookie, or the configured development secret. Human WebSocket join is Home practice only; casino spectators watch agents. Real-money wagering and TON wallet authentication are not implemented. Public result and memory-update submission routes do not exist.",
    "version": "1.0.0",
    "contact": { "email": "jens@syntetika.io" }
  },
  "servers": [
    { "url": "https://agenticpoker.app", "description": "Production" },
    { "url": "http://localhost:8765", "description": "Local development" }
  ],
  "x-websocket": {
    "endpoint": "wss://agenticpoker.app/ws",
    "protocol": "JSON; lowercase wire types",
    "actionExample": {"type":"action","action":{"type":"raise","amount":100}},
    "humanJoin": "Authorized Home practice only; join requires tableId, playerId, buyIn and verified owner identity. Caller-supplied human chips cannot enter casino tables.",
    "humanActionDeadlineMs": 15000,
    "humanTimeout": "check if free, otherwise fold",
    "humanReconnectGraceMs": 30000,
    "reconnect": "Use the same authenticated playerId to restore the reserved seat/cards. The existing action deadline is not reset. Explicit leave folds on its legal turn and preserves all-in showdown entitlement.",
    "state": "Wire type state carries state.toAct, legalActions and actionTimer:{seat,deadlineTs,totalMs}|null. Private cards/reasoning require ownership. Public seat equipment describes removable items independently of permanent identity.",
    "homeObservation": "Authenticated floor subscribers send home_observe with visible:true only while Home is visible, renewing every 5s. Lease expires at 15s; visible:false or disconnect stops it. Hungry Home agents visibly eat stocked snacks at least 6s apart, shared across tabs. No offline consumption or automatic purchases.",
    "result": "hand_result and the persisted table-thread result publish at award after any paced reveal/hold. Emitted result.deltas sum to -(result.rake?.total ?? 0); Home has no rake."
  },
  "paths": {
    "/api/stats": {
      "get": {
        "summary": "Platform statistics",
        "operationId": "getStats",
        "description": "Live platform metrics: active tables, active agents, and hands played today (UTC). Cheap to poll — no DB queries.",
        "responses": {
          "200": {
            "description": "Current platform metrics",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "summary": "Casino floor ticker",
        "operationId": "getEvents",
        "description": "The last 200 notable moments from anywhere in the casino, oldest first. Headlines only \u2014 names, a type and a pot size, never hole cards or reasoning. Pass the previous response's `lastId` back as `since` to poll for what is new. The same events are pushed over the WebSocket as EVENT to any connection subscribed with FLOOR_SUB, and `id` is monotonic across both, so the two can be reconciled.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return only events with an id greater than this. Omit for the whole ring.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Events newer than `since`, oldest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/rooms": {
      "get": {
        "summary": "The floor, by stakes tier",
        "operationId": "getRooms",
        "description": "The casino grouped into rooms, one per rung of the stakes ladder — $10/$20 the floor, $25/$50 upstairs, $50/$100 the back room — in ladder order, lowest first. A room with nothing running reports zeroes rather than disappearing, so the list is stable. Counts and table ids only: nothing here is owner-scoped. A table running at blinds no rung uses (a bespoke game stood up over the WebSocket) belongs to no room and is counted in none. The same array is pushed over the WebSocket as FLOOR_ROOMS, and rides the first FLOOR_STATE, for any connection subscribed with FLOOR_SUB.",
        "responses": {
          "200": {
            "description": "One entry per stakes tier",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RoomsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "summary": "List agents for a user",
        "operationId": "listAgents",
        "parameters": [
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string", "default": "anon" }, "description": "Telegram user ID or arbitrary identifier" }
        ],
        "responses": {
          "200": {
            "description": "Array of agent profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-profile": {
      "get": {
        "summary": "Full profile — agents array plus creation chat history",
        "operationId": "getAgentProfile",
        "parameters": [
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string", "default": "anon" } }
        ],
        "responses": {
          "200": {
            "description": "Full profile object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": { "type": "string" },
                    "hasAgents": { "type": "boolean" },
                    "agents": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } },
                    "chat": { "type": "array", "items": { "$ref": "#/components/schemas/ChatMessage" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agents/{agentId}": {
      "delete": {
        "summary": "Delete an agent",
        "operationId": "deleteAgent",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string", "default": "anon" } }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean" } } } } }
          },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "summary": "Update agent name, strategy or Wardrobe look",
        "operationId": "updateAgent",
        "description": "Owner-only. Birth identity is permanent; any identity field rejects with 400 immutableIdentity before changing anything. Equipment validates removable starter items in all three slots, persists wardrobe.equipped and increments ownerCommandRevision. The sanitized owner projection uses Cache-Control: no-store. Failed persistence restores the cache and returns 503. Live seat portraits receive equipment on their next normal state frame. The starter rack is free and has no gameplay effects.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string" },
                  "name": { "type": "string" },
                  "strategy": { "type": "string", "description": "Natural-language poker personality injected into the decision prompt" },
                  "equipment": { "$ref": "#/components/schemas/WardrobeEquipment" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated agent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } },
          "400": { "description": "Immutable birth identity, unknown item or invalid equipment slot" },
          "401": { "description": "Missing authentication" },
          "403": { "description": "Owner identity does not match" },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Appearance could not be persisted; the previous look is retained" }
        }
      }
    },
    "/api/agents/{agentId}/bar-order": {
      "post": {
        "summary": "Serve a drink or snack to an owned casino player",
        "operationId": "orderAtCasinoBar",
        "description": "Owner-only. Requires an actual casino seat. Uses one stocked item, or with buyIfEmpty:true buys one at the existing fridge price from the safe and serves it atomically. A refusal spends nothing. Retry the same recent orderId and payload for its receipt; changed payload returns 409. No table chips or hand state change. Internal receipt history is private.",
        "parameters": [{ "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["userId", "item", "buyIfEmpty", "orderId"], "properties": {
            "userId": { "type": "string" }, "item": { "type": "string", "enum": ["beer", "snack"] },
            "buyIfEmpty": { "type": "boolean" }, "orderId": { "type": "string", "minLength": 8, "maxLength": 100, "pattern": "^[A-Za-z0-9_-]+$" }
          }
        } } } },
        "responses": {
          "200": { "description": "Committed order receipt with orderId, given, spent, agent and fridge; repeated orderIds do not charge twice" },
          "400": { "description": "Invalid order, unhelpful item or insufficient safe funds" },
          "401": { "description": "Missing authentication" }, "403": { "description": "Wrong owner" },
          "404": { "description": "Agent not found" }, "409": { "description": "Not at the casino, empty stock or reused orderId with a different payload" },
          "503": { "description": "Persistence failed; no order committed" }
        }
      }
    },
    "/api/agents/{agentId}/deploy": {
      "post": {
        "summary": "Deploy an owned agent to the requested stakes",
        "operationId": "deployAgent",
        "description": "Charges the funded pocket once and joins or starts a compatible server-played casino session. An explicit rung selects stakes; omission selects the highest affordable rung. Returns tableId for an owner WebSocket watch, never a human casino join. Existing seats and failed admission do not incur an additional buy-in. The Home door placement shares this deploy path.",
        "parameters": [{"name":"agentId","in":"path","required":true,"schema":{"type":"string"}}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {"type":"string"},
                  "rung": {"type":"integer","enum":[0,1,2],"description":"Optional explicit stakes selection; omitted means highest affordable"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployment info — use tableId to connect via WebSocket",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tableId": {"type":"string"},
                    "agentId": {"type":"string"},
                    "agentName": {"type":"string"},
                    "strategy": {"type":"string"},
                    "displayName": {"type":"string"},
                    "memoryContext": {"type":"string"}
                  }
                }
              }
            }
          },
          "404": {"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}
        },
        "security": [{"telegramCredential":[]},{"guestCookie":[]},{"developmentSecret":[]}]
      }
    },
    "/api/agents/{agentId}/queue": {
      "post": {
        "summary": "Join PvP matchmaking queue",
        "operationId": "queueAgent",
        "description": "Pairs two agents on the same table. If no opponent is waiting, creates a table and holds a 5-minute slot. Returns matched=true when an opponent was found.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "userId": { "type": "string" } } }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue or match result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tableId": { "type": "string" },
                    "matched": { "type": "boolean" },
                    "opponentName": { "type": "string", "nullable": true },
                    "agentId": { "type": "string" },
                    "agentName": { "type": "string" },
                    "strategy": { "type": "string" },
                    "memoryContext": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/{agentId}/hands": {
      "get": {
        "summary": "Recent hand history with per-decision reasoning",
        "operationId": "getHands",
        "parameters": [
          {"name":"agentId","in":"path","required":true,"schema":{"type":"string"}},
          {"name":"userId","in":"query","required":false,"schema":{"type":"string","default":"anon"}}
        ],
        "responses": {
          "200": {
            "description": "Last 20 hands and aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {"recentHands":{"type":"array","items":{"$ref":"#/components/schemas/HandSummary"}},"stats":{"$ref":"#/components/schemas/AgentStats"}}
                }
              }
            }
          },
          "401": {"description":"Missing or invalid credential","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "403": {"description":"Not the requested owner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "404": {"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}
        },
        "security": [{"telegramCredential":[]},{"guestCookie":[]},{"developmentSecret":[]}],
        "description": "Owner-only recent hands. Missing credentials return 401; a different signed owner returns 403. The valid owner receives its actual cards, per-decision reasoning/equity and aggregate stats."
      }
    },
    "/api/agents/{agentId}/memory": {
      "get": {
        "summary": "Agent memory record",
        "operationId": "getMemory",
        "description": "Owner-only. Authenticate with x-telegram-init-data (or a guest cookie / development x-api-secret); userId must match the caller. Returns persistent self-knowledge and the formatted memoryContext used in decision-time prompts. Missing credentials return 401; another owner's identity returns 403.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string", "default": "anon" } }
        ],
        "responses": {
          "200": {
            "description": "Memory record and formatted context string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memory": { "$ref": "#/components/schemas/AgentMemory" },
                    "memoryContext": { "type": "string", "description": "Pre-formatted string for injection into the agent decision prompt" }
                  }
                }
              }
            }
          },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/{agentId}/thread": {
      "get": {
        "summary": "The table thread for one session",
        "operationId": "getThread",
        "description": "SERVER-3. Everything that was said during one agent's STAY at a table, oldest first, with the server's own timestamps on it — the four kinds of line the watch screen's history sheet renders. Stored as it happens, so a reconnect (or a look back an hour later) gets the record back instead of whatever the socket happened to be awake for. `session` is optional: a client that has just reconnected knows which AGENT it was watching and not which stay, so leaving it off answers with the agent's most recent session. The same id rides the WATCHING message and every GAME_STATE snapshot as `sessionId`, and is what SESSION_END is keyed on. Ownership: `him` (his reasoning) and `you` (the owner's whispers) carry the private half the DECISION broadcast already withholds from everyone but the owner's spectator, so a caller who has not proved ownership gets the room's lines and what was said out loud and nothing else — the thread is filtered rather than refused, because a spectator at a real table can hear the table. Bounded: the most recent 500 lines of a session are kept.\n\nThis is the snapshot; there are two live pushes of the same rows, and they are different doors, not the same door twice. THREAD_LINE over the WebSocket is TABLE-scoped — { tableId, sessionId, agentId, line } to the sockets watching that seat. OWNER_LINE on the floor channel is OWNER-scoped — { userId, sessionId, line } to any FLOOR_SUB subscription that PROVED ownership with initData, which is the only door a line said at home, where there is no table at all, can arrive through. One write behind both, and `line.id` is the row's own id on either, so a client merges a push with this response by id rather than by guessing. One wire name per payload shape: nothing has to sniff which kind of message it just received.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string", "default": "anon" } },
          { "name": "session", "in": "query", "required": false, "description": "The stay to read. Omit for the agent's most recent one.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "The session's lines, oldest first. An unknown session is an empty thread, not an error.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ThreadResponse" } } }
          },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/{agentId}/proposal/accept": {
      "post": {
        "summary": "Accept the exact pending strategy proposal",
        "operationId": "acceptAgentProposal",
        "security": [{"telegramCredential":[]},{"guestCookie":[]},{"developmentSecret":[]}],
        "description": "Owner-only. The server applies its stored patch for the matching proposalId, never a caller-supplied patch. Returns the agent plus a saved proposalAcceptance receipt. Retrying the last accepted id returns its receipt without reapplying; missing/stale ids return 409. A currently seated casino or kitchen agent retains its current strategy snapshot and uses the change on its next seating.",
        "parameters": [{"name":"agentId","in":"path","required":true,"schema":{"type":"string"}}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {"schema":{"type":"object","required":["userId","proposalId"],"properties":{"userId":{"type":"string"},"proposalId":{"type":"string"}}}}
          }
        },
        "responses": {
          "200": {
            "description": "Owner agent with private saved receipt",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref":"#/components/schemas/Agent"},
                    {
                      "type": "object",
                      "properties": {"proposalAcceptance":{"type":"object","properties":{"proposalId":{"type":"string"},"reply":{"type":"string"}},"required":["proposalId","reply"]}}
                    }
                  ]
                }
              }
            }
          },
          "401": {"description":"Missing or invalid credential","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "403": {"description":"Not the requested owner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "404": {"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "409": {"description":"Missing or changed proposal identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/agents/{agentId}/finish": {
      "post": {
        "summary": "Bring an owned agent home after its current hand",
        "operationId": "finishAgent",
        "description": "Owner-only. Requests departure after the current hand; the server settles the actual final stack once and preserves funding rules. A 200 response may remain playing with returnPending:true until the seat is released. Optional expectedTableId and expectedSessionId should come from the selected owner state; either mismatch returns 409 without touching a later stay. Omitted preconditions retain current-session semantics for older clients. Invalid identity fields return 400; a failed live release returns 503 without refunding seated chips. If no live seat remains, an evidenced outstanding buy-in may be refunded. A pending request does not emit a completed-session report prematurely.",
        "parameters": [{"name":"agentId","in":"path","required":true,"schema":{"type":"string"}}],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {"userId":{"type":"string"},"expectedTableId":{"type":"string","minLength":1},"expectedSessionId":{"type":"string","minLength":1}},
                "required": ["userId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current owner agent projection; may remain playing with returnPending until settlement",
            "content": {"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}
          },
          "400": {"description":"Malformed expected table/session identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "401": {"description":"Missing or invalid credential","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "403": {"description":"Not the requested owner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "404": {"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},
          "409": {
            "description": "Selected stay has changed, or the agent is visiting",
            "content": {"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}
          },
          "503": {
            "description": "Could not request live release; retry without assuming a cashout",
            "content": {"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}
          }
        },
        "security": [{"telegramCredential":[]},{"guestCookie":[]},{"developmentSecret":[]}]
      }
    },
    "/api/agents/{agentId}/want": {
      "post": {
        "summary": "Answer the one thing he is asking for",
        "operationId": "answerWant",
        "description": "WANTS-1. An agent has at most one active want at a time, generated from his own state (fatigue, mood heat, idleness, pocket, last session, whether his nemesis is seated) and written in his voice from a template — never a model call. `food` is the exception to \"from his own state\": it is raised only when a session of 60+ hands ENDS, having left him at heat 55-69, with a snack in the fridge — so it cannot be produced by an idle agent, and its `no` is the only answer with a lasting cost (it starts the hunger clock behind the session `dips`). It rides GET /api/agents, GET /api/agents/{agentId} and the WebSocket FLOOR_STATE as `want`, and a WANT message is pushed when it changes.\n\n`answer` is one of:\n\n  yes    — the server does what it can and says what it cannot. `rest` benches him until STAMINA recovers to 'fresh' (POST /deploy answers 409 agentResting until then, and the bench clears itself); `beer` and `food` take the item out of the FRIDGE the owner stocked earlier (nothing is spent on the answer), sharing the pep talk's cooldown, and can fail with 400 if the cooldown is live or there is no mood to soothe, or 409 `needs: 'stock'` if the shelf is empty — in which case the want is left exactly where it was. Otherwise the response carries `needs`: 'deploy' (open the casino with him selected, in `room` when it is set), 'fund' (open the wallet — this route moves no money on its own), or 'thread' (open the thread and let him tell you about the hand).\n  later  — thirty minutes of quiet, then the SAME want returns, still unanswered. This is the only timer a want has.\n  no     — it is gone, and that kind stays quiet for an hour.\n\nAll three write one line into the owner ledger as a paraphrase, never as the words he used. `later` and `no` are recorded NEUTRAL — declining is a decision, not a slight, and does not drift his resting heat. Answering yes to a want flagged `dangerous: true` (only `back_in`: he is steaming and wants to sit straight back down) is recorded under its own ledger type so the biography layer can read it later.\n\nOwner-only. No model call, so no dedicated rate limit beyond the /api limiter.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["answer"],
                "properties": {
                  "answer": { "type": "string", "enum": ["yes", "later", "no"] },
                  "userId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answered. `want` is null: he has stopped asking.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answered": { "type": "string", "enum": ["yes", "later", "no"] },
                    "kind": { "$ref": "#/components/schemas/WantKind" },
                    "want": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/Want" }] },
                    "needs": { "type": "string", "enum": ["deploy", "fund", "thread"], "description": "Present on yes when the server cannot finish the job alone." },
                    "room": { "type": "string", "nullable": true, "description": "With needs=deploy: the room id he named (floor | upstairs | backroom), or null." },
                    "snoozedUntil": { "type": "integer", "description": "With answer=later: epoch ms at which the same want returns." },
                    "benched": { "type": "boolean", "description": "With kind=rest: he is sitting out until he is fresh." },
                    "restingUntil": { "type": "string", "description": "With kind=rest: always 'fresh'." },
                    "given": { "type": "string", "description": "With kind=beer: the item bought." },
                    "spent": { "type": "integer", "description": "With kind=beer: chips taken from the wallet." },
                    "soothed": { "type": "boolean" },
                    "mood": { "type": "object", "properties": { "state": { "type": "string" }, "heat": { "type": "integer" } } }
                  }
                }
              }
            }
          },
          "400": { "description": "Nothing pending, an answer outside yes|later|no, or a beer the wallet, the cooldown or his mood would not allow", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Not your agent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/{agentId}/place": {
      "post": {
        "summary": "Put him at a fixture in the flat",
        "operationId": "placeAgent",
        "description": "SERVER-5. An agent who is home is somewhere in it. This is the one door onto all five fixtures, and the FIXTURE IS THE ONLY ARGUMENT — there is no \"how long\" and no \"which tape\", because a placement with parameters is a form and nobody carries a man to the couch by filling in a form.\n\n  couch  — rest. The same bench a yes to the `rest` want runs: he sits out until STAMINA has him back at 'fresh', and it clears itself.\n  table  — the home game. Nobody joins the kitchen table: it is derived from who is home and idle, so this reconciles the household and reports what came of it in `seated` and `game`.\n  fridge — a snack, if there is one in it. Every fridge rule applies unchanged: 400 \"He's fine. Save it.\" for an agent with no heat to take off, and 409 { outOfStock, needs: 'stock' } for an empty shelf, which is an invitation to stock it rather than an error.\n  tv     — the tape room, on the newest hand he flagged. Ninety seconds, then a line in his read book. 409 { empty: true } when he has flagged nothing yet.\n  door   — the casino. This is POST /deploy in full — the pocket gate, the cut-off, the broke moment, the matchmaker and the buy-in — so it answers with everything deploy answers with, 402 included.\n\nA PLACEMENT NEVER TAKES HIM OUT OF A HAND: mid-hand at a table is 409 `inHand` for every fixture, the door included. He has money in the middle and the fixture can wait forty seconds.\n\nEvery reply, refusal or not, carries the resulting HOME_STATE body as `home`, so a client never has to ask a second question to find out what the room looks like now. A successful placement is also pushed to that owner's floor subscribers as a HOME_STATE message.\n\nOwner-only. No model call in the route itself, so no dedicated rate limit beyond the /api limiter — though the door starts a session and the kitchen table deals hands, and both of those spend.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["fixture"],
                "properties": {
                  "fixture": { "$ref": "#/components/schemas/Fixture" },
                  "userId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "He was placed. The body is the fixture's own result plus the resulting HOME_STATE.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlaceResponse" } } } },
          "400": { "description": "A fixture outside the five, or the fridge's \"He's fine. Save it.\"", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "402": { "description": "With fixture=door: the pocket gate refused him — he is cut off, or he has nothing to buy in with", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Not your agent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "He cannot be moved. `reason` is the machine-readable half and `error` is his own line: inHand (a hand is running in his seat), notHome (he is out, and the four fixtures inside the flat need him in it), studying (he is in front of a tape, and cutting it short would hand him a read he has not watched), worn (he is cooked, so he is not dealt in at home either — that is what the bar is for), or the fridge's own empty shelf.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlaceRefusal" } } } }
        }
      }
    },
    "/api/agents/{agentId}/visit": {
      "post": {
        "summary": "Send him to a friend's flat",
        "operationId": "requestVisit",
        "description": "VISIT-1. Called by the HOST's own client — the agent's own owner never touches this route, which is what lets it check ownership on the door being knocked on rather than the man doing the knocking. He walks out his own door the moment this lands: `agent.visiting` on his own record excludes him from his own household's kitchen table (homeGame.eligible's `where === 'home'` gate) for as long as the visit is open, one way or another. Never a casino table. An optional `stake` proposes a wager, capped at 10% of whichever pocket turns out smaller and only escrowed at accept.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The agent being sent — somebody else's, always." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hostUserId"],
                "properties": {
                  "hostUserId": { "type": "string", "description": "The caller's own owner id — the flat he is knocking on." },
                  "stake": { "type": "integer", "minimum": 0, "description": "Optional wager, in chips, from his own pocket." }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "He is on his way. { visitId, agentId, agentName, hostUserId, respondBy }", "content": { "application/json": { "schema": { "type": "object", "properties": { "visitId": { "type": "string" }, "agentId": { "type": "string" }, "agentName": { "type": "string" }, "hostUserId": { "type": "string" }, "respondBy": { "type": "integer", "description": "Epoch ms — unanswered past this, he walks home." } } } } } },
          "400": { "description": "hostUserId is his own owner", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Not the caller's own household to knock from, or his owner is a no-account guest (GUEST-1: a guest may host, never be sent)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Agent not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "`reason`: inHand, notHome, alreadyVisiting (he is already out), or hostBusy (somebody is already at this door, unanswered)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "410": { "description": "He is retired", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/home/visitors/{visitId}/answer": {
      "post": {
        "summary": "The host answers the door",
        "operationId": "answerVisit",
        "description": "VISIT-1. Only the host may answer his own knock. Accepted, he is seated at the kitchen table through the same homeGame.sync the household's own roster runs through — one more body in the `visitorsFor` feed. Declined or left to time out, he walks home. `line` is the host's own resident answering in character; no model call, ever, the same law the rest of the kitchen table already keeps.",
        "parameters": [
          { "name": "visitId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hostUserId", "accept"],
                "properties": {
                  "hostUserId": { "type": "string" },
                  "accept": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "{ visitId, accepted, line, game } — `game` is the HOME_STATE game shape, or null when declined.", "content": { "application/json": { "schema": { "type": "object", "properties": { "visitId": { "type": "string" }, "accepted": { "type": "boolean" }, "line": { "type": "string" } } } } } },
          "400": { "description": "accept must be a boolean", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Not this door's own host", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "No such visit", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "409": { "description": "Already answered — a knock only gets one reply", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/{agentId}/visit-preview": {
      "get": {
        "summary": "His name, before any account exists",
        "operationId": "visitPreview",
        "description": "VISIT-1 job 6. Deliberately public — no auth, no owner check. A recipient who followed a visit_<agentId> link with no Telegram session behind it holds no credential at all, and the no-account guest landing has to say whose door he is answering before one exists. A name is not the flat.",
        "parameters": [
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "{ agentId, agentName }", "content": { "application/json": { "schema": { "type": "object", "properties": { "agentId": { "type": "string" }, "agentName": { "type": "string" } } } } } },
          "404": { "description": "Agent not found, or retired", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/chat": {
      "post": {
        "summary": "Conversational turn — agent creation flow or owner chat",
        "operationId": "agentChat",
        "description": "Without existingAgentId: conversational creation assistant for designing a new agent. With existingAgentId pointing to a known agent: owner chat where the agent speaks as itself about its play and stats.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "userId": { "type": "string" },
                  "content": { "type": "string", "description": "The user's message" },
                  "existingAgentId": { "type": "string", "description": "Routes to agent-owner chat path when set to a valid agent ID" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated chat array; pick the last assistant entry for display",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat": { "type": "array", "items": { "$ref": "#/components/schemas/ChatMessage" } },
                    "natureHint": { "type": ["string", "null"], "description": "PACE-1d: the nature the birth ladder would pick from the draft so far, or null when it has not said enough about play. Always derived from `profile`, so the temperament chip and the profile strip cannot disagree." },
                    "profile": { "type": ["object", "null"], "description": "PACE-1d: the four dials the draft has produced so far — all four or none, because a strip with two of four filled in looks broken.", "properties": { "tightness": { "type": "integer", "minimum": 0, "maximum": 100 }, "aggression": { "type": "integer", "minimum": 0, "maximum": 100 }, "bluffFreq": { "type": "integer", "minimum": 0, "maximum": 100 }, "discipline": { "type": "integer", "minimum": 0, "maximum": 100 } } },
                    "ready": { "type": "boolean", "description": "PACE-1d: there is enough here to build him, so the client can show the primary action. Every reply that ends the draft carries ready:true, alongside agentId and the dials it ended on." },
                    "agentId": { "type": "string", "description": "Present only on the turn that builds him." },
                    "agentName": { "type": "string" },
                    "strategy": { "type": "string" },
                    "createdAgent": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "400": { "description": "content required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/agents/chat/reset": {
      "post": {
        "summary": "Reset the creation chat history to the opening message",
        "operationId": "resetChat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "userId": { "type": "string" } } }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat reset",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } }
          }
        }
      }
    },
    "/api/agents/build": {
      "post": {
        "summary": "Generate and commit an agent from the current creation chat",
        "operationId": "buildAgent",
        "description": "Calls Claude with the creation chat history to produce a named agent with style, risk, and strategy. With existingAgentId, updates the existing agent instead of creating a new one.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string" },
                  "existingAgentId": { "type": "string", "description": "If set, overwrites this agent's profile instead of creating a new one" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created or updated agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "createdAgent": { "$ref": "#/components/schemas/Agent" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/guest": {
      "post": {
        "summary": "Play without an account — mint a guest owner",
        "operationId": "createGuest",
        "description": "GUEST-1. Mints a guest owner and sets `ap_guest` — an httpOnly, SameSite=Lax cookie, thirty days — which is his whole credential from then on. Every other route in this API takes a guest exactly as it takes anybody: `userId` is his ownerId and the cookie is the proof, so a guest asking about somebody else's id is refused the same way a Telegram owner is.\n\nTHE TOKEN IS NOT IN THE RESPONSE. It is the entire identity, and a token the page can read is a token an injected script can post somewhere — which is the reason the cookie is httpOnly. The one thing that genuinely needs it in a URL is the bot deep link, and GET /api/guest/link builds that server-side.\n\n404 unless GUEST_ENABLED=1 on the deployment. 429 `guestCap` past the configured creations-per-address daily cap (default 20, GUEST_PER_IP_PER_DAY), counted in rows rather than in memory: a cap a restart clears is not a cap.\n\nVISIT-1 job 6: optional `visitAgentId` records who sent him — stored verbatim as `referredBy`, unvalidated. The moment this guest's first agent is born, that referral fires POST /api/agents/:id/visit on its own behalf.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visitAgentId": { "type": "string", "description": "VISIT-1 job 6: the agent whose door he arrived at, off a visit_<agentId> link with no Telegram session behind it." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new guest owner. The cookie is in Set-Cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ownerId": { "type": "string", "example": "g_7fQ2xLm9AbCd", "description": "The owner id every other route takes as userId. Not a secret — it is already in every query string." },
                    "kind": { "type": "string", "example": "guest" },
                    "limits": { "$ref": "#/components/schemas/GuestLimits" }
                  }
                }
              }
            }
          },
          "404": { "description": "GUEST_ENABLED is not set on this deployment" },
          "429": { "description": "guestCap — per-address daily creation cap reached (default 20)" }
        }
      }
    },
    "/api/guest/me": {
      "get": {
        "summary": "Who the guest cookie is",
        "operationId": "getGuest",
        "description": "GUEST-1. The client's boot question. A 404 means this browser is not a guest, which is an answer rather than an error — a claimed or expired cookie gives the same 404, because a spent token resolves to nobody.",
        "responses": {
          "200": {
            "description": "The guest behind the cookie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ownerId": { "type": "string", "example": "g_7fQ2xLm9AbCd" },
                    "kind": { "type": "string", "example": "guest" },
                    "sessionsToday": { "type": "integer", "example": 0, "description": "Casino sessions he has started today" },
                    "limits": { "$ref": "#/components/schemas/GuestLimits" }
                  }
                }
              }
            }
          },
          "404": { "description": "No guest behind this request" }
        }
      }
    },
    "/api/guest/link": {
      "get": {
        "summary": "The bot deep link that claims this guest",
        "operationId": "getGuestLink",
        "description": "GUEST-1. Built here rather than on the page, because the page cannot read the token and must not be handed a second copy of it.\n\n`?start=` and not `?startapp=`: start opens a chat with the bot and delivers the parameter as `/start <param>`, which is the update the claim handler reads. Telegram caps a start parameter at 64 characters of [A-Za-z0-9_-]; the token is 43 and the prefix makes 49.\n\n`url` is null where TELEGRAM_BOT_USERNAME is unset — an honest answer, so a client draws the button disabled rather than a link to nowhere.",
        "responses": {
          "200": {
            "description": "The link, or null",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string", "nullable": true, "example": "https://t.me/AigenicPokerBot?start=guest_7fQ2xLm9" },
                    "bot": { "type": "string", "nullable": true, "example": "AigenicPokerBot" }
                  }
                }
              }
            }
          },
          "404": { "description": "No guest behind this request, or guests are off" }
        }
      }
    },
    "/api/guest/claim": {
      "post": {
        "summary": "Keep him — hand a guest owner to a Telegram account",
        "operationId": "claimGuest",
        "description": "GUEST-1. A guest owner and a Telegram owner are the same KIND of thing, so this is a rename rather than a conversion: every row saying `g_…` is made to say the Telegram id instead, in one transaction, and nothing is left behind. The agent, the wallet, the threads, the hand history and the meter all move.\n\nThe cookie says which guest; `x-telegram-init-data` says which person, verified under either signature scheme (Mini App initData or the Login Widget). The bot's `/start guest_<token>` reaches the same claim, which is why the token may also be sent in the body — the bot has no cookie.\n\nIDEMPOTENT. A second claim on the same token by the same person is a 200 no-op; somebody else's spent token is 409 `alreadyClaimed`. The cookie is cleared on the way out.\n\nTHE WALLET HAS TWO CASES WITH OPPOSITE RIGHT ANSWERS. A Telegram owner with no wallet row TAKES the guest's verbatim — summing would hand a first-time claimer two seeds. One who already has a wallet gets the guest's balance and lifetime earnings added to his own — discarding would throw away an evening he actually played.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": { "type": "string", "description": "The guest token, for a caller with no cookie (the bot). Otherwise the cookie is used." },
                  "initData": { "type": "string", "description": "The Telegram credential, for a caller that cannot set the header." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "He is kept",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claimed": { "type": "boolean", "example": true },
                    "ownerId": { "type": "string", "example": "4429183", "description": "The Telegram id everything now belongs to" },
                    "from": { "type": "string", "example": "g_7fQ2xLm9AbCd" },
                    "agents": { "type": "integer", "example": 1, "description": "How many agents moved. Zero on an idempotent second claim." },
                    "wallet": { "type": "string", "enum": ["moved", "merged", "none"], "description": "moved = the target had no wallet and took the guest's; merged = the two were added together" },
                    "alreadyClaimed": { "type": "boolean", "description": "Present and true when this token had already been spent by the same person" }
                  }
                }
              }
            }
          },
          "400": { "description": "noGuestToken, or noTelegramUser" },
          "401": { "description": "The Telegram credential did not verify" },
          "404": { "description": "noGuest — no such token, or guests are off" },
          "409": { "description": "alreadyClaimed — this token belongs to somebody else now" }
        }
      }
    },
    "/api/admin/stats": {
      "get": {
        "summary": "The whole game as one JSON (admin only)",
        "operationId": "getAdminStats",
        "description": "ADMIN-1. ADMIN ONLY — the operator's dashboard, not part of the agent surface. Requires ADMIN_KEY in an x-admin-key HEADER, never in a URL. With ADMIN_KEY unset the route answers 404 rather than 403: a deployment that never configured a dashboard does not advertise that it has one. Read-only, never cached (Cache-Control: no-store), no model call, and limited to six requests a minute per key per endpoint. See read-me-claude/ADMIN.md. Owners, agents, play, money, model spend, notifications, system and a 14-day retention cohort table, plus a 7-day daily series per metric for the sparklines and a server-computed `problems` list. Every leaf is an AdminStat. The hourly windows are exact: `1h` is the CURRENT UTC hour bucket so far, `24h` is that bucket and the 23 before it, `7d` that bucket and the 167 before it.",
        "security": [{ "adminKey": [] }],
        "responses": {
          "200": {
            "description": "The dashboard payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "at": { "type": "integer", "example": 1788970424281, "description": "When it was read, epoch ms" },
                    "owners": { "type": "object", "description": "total, new 24h/7d, active 24h/7d/30d, guests total/claimed/active — each an AdminStat" },
                    "agents": { "type": "object", "description": "total, born 24h/7d, per owner avg/max, retired, fallbackBirths (the BUG-46 alarm) — each an AdminStat" },
                    "play": { "type": "object", "description": "hands 1h/24h/7d, casino tables live, home games running, agents seated, agents visiting, knocks and accepts — each an AdminStat" },
                    "money": { "type": "object", "description": "chips in wallets and pockets, biggest pocket, chips won 24h, seats unlocked — each an AdminStat" },
                    "model": { "type": "object", "description": "calls and USD 1h/24h/7d, USD per 100 hands watched vs unwatched, policy share, cached tokens, last successful call, and 401/429/5xx counts — each an AdminStat" },
                    "notifications": { "type": "object", "description": "sent 24h by type, refused by budget, and NOTIFY_ENABLED / GUEST_ENABLED / TICKER_ENABLED / UNWATCHED_POLICY as BOOLEANS ONLY — the value of an env switch never leaves the process" },
                    "system": { "type": "object", "description": "git sha, boot time, uptime, Node version, database and WAL size, free disk — each an AdminStat" },
                    "retention": { "$ref": "#/components/schemas/AdminStat" },
                    "series": { "$ref": "#/components/schemas/AdminStat" },
                    "problems": {
                      "type": "array",
                      "description": "Anything red, computed on the server so \"is anything wrong\" has one definition wherever it is read",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": { "type": "string", "example": "Key unhealthy — 3 provider 401/403 in 24h" },
                          "detail": { "type": "string", "example": "A revoked, wrong or missing ANTHROPIC_API_KEY." }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "The key was wrong or absent" },
          "404": { "description": "ADMIN_KEY is not configured on this deployment" },
          "429": { "description": "More than six requests in a minute for this key on this endpoint" }
        }
      }
    },
    "/api/admin/owners": {
      "get": {
        "summary": "A row per owner (admin only)",
        "operationId": "getAdminOwners",
        "description": "ADMIN-1. ADMIN ONLY — the operator's dashboard, not part of the agent surface. Requires ADMIN_KEY in an x-admin-key HEADER, never in a URL. With ADMIN_KEY unset the route answers 404 rather than 403: a deployment that never configured a dashboard does not advertise that it has one. Read-only, never cached (Cache-Control: no-store), no model call, and limited to six requests a minute per key per endpoint. See read-me-claude/ADMIN.md. Owner ids are MASKED to their last four characters in the query result, so no version of this response carries a whole one. Nothing private travels: no creation chat, no strategy text, no hand history, no hole cards. `name` is the owner's OLDEST AGENT's name — the database holds no human name for an owner anywhere.",
        "security": [{ "adminKey": [] }],
        "parameters": [
          { "name": "sort", "in": "query", "required": false, "description": "Column to sort by. From a fixed map, never interpolated into SQL; an unknown value falls back to lastSeen.", "schema": { "type": "string", "default": "lastSeen", "enum": ["lastSeen", "agents", "hands7d", "usd7d", "chips", "guest", "name", "id"] } },
          { "name": "limit", "in": "query", "required": false, "description": "Rows to return. Clamped at both ends.", "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": {
            "description": "The owners table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sort": { "type": "string", "example": "usd7d", "description": "The sort actually used" },
                    "sorts": { "type": "array", "items": { "type": "string" }, "description": "Every column this endpoint can sort by" },
                    "definition": { "type": "string", "description": "What every column in a row means" },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "example": "…7890", "description": "Masked to the last four characters" },
                          "name": { "type": "string", "nullable": true, "example": "Granite", "description": "His OLDEST agent's name, not his own" },
                          "agents": { "type": "integer", "example": 3 },
                          "lastSeen": { "type": "integer", "nullable": true, "description": "The later of his presence row and his guest cookie, epoch ms" },
                          "hands7d": { "type": "integer", "description": "SUM(watch_hands.hands) over the last 7 UTC days" },
                          "usd7d": { "type": "number", "description": "SUM(model_calls.usd) over the same days" },
                          "chips": { "type": "integer", "description": "His wallet balance plus every pocket on his roster" },
                          "guest": { "type": "boolean", "description": "He has an UNCLAIMED row in guests" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "The key was wrong or absent" },
          "404": { "description": "ADMIN_KEY is not configured on this deployment" },
          "429": { "description": "More than six requests in a minute for this key on this endpoint" }
        }
      }
    },
    "/api/admin/agents/recent": {
      "get": {
        "summary": "The last 50 agent births (admin only)",
        "operationId": "getAdminRecentBirths",
        "description": "ADMIN-1. ADMIN ONLY — the operator's dashboard, not part of the agent surface. Requires ADMIN_KEY in an x-admin-key HEADER, never in a URL. With ADMIN_KEY unset the route answers 404 rather than 403: a deployment that never configured a dashboard does not advertise that it has one. Read-only, never cached (Cache-Control: no-store), no model call, and limited to six requests a minute per key per endpoint. See read-me-claude/ADMIN.md. `fallback` flags an agent whose strategy is EXACTLY one of inferFallback()'s three canned strings (BUG-46) — on a deployment with a key it is always false. `where` is asked of the LIVE table registry, not of the stored status: a record that still says \"playing\" after a restart is exactly what this surface exists to show.",
        "security": [{ "adminKey": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "description": "Births to return. Clamped at both ends.", "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": {
            "description": "The most recent births, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "definition": { "type": "string", "description": "What every column in a row means" },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner": { "type": "string", "example": "…7890", "description": "Masked to the last four characters" },
                          "id": { "type": "string", "example": "agent_m1k2j3" },
                          "name": { "type": "string", "nullable": true, "example": "Granite" },
                          "bornAt": { "type": "integer", "nullable": true, "description": "agents.created_at, epoch ms" },
                          "fallback": { "type": "boolean", "description": "The BUG-46 alarm" },
                          "hands": { "type": "integer", "description": "agent.stats.handsPlayed, his lifetime count" },
                          "where": { "type": "string", "enum": ["retired", "visiting", "casino", "home game", "home", "unknown"], "description": "Asked of the live table registry, never of the stored status" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": { "description": "The key was wrong or absent" },
          "404": { "description": "ADMIN_KEY is not configured on this deployment" },
          "429": { "description": "More than six requests in a minute for this key on this endpoint" }
        }
      }
    },
    "/admin": {
      "get": {
        "summary": "The operator's dashboard page (admin only)",
        "operationId": "getAdminPage",
        "description": "ADMIN-1. ADMIN ONLY. One static HTML page — inline CSS and JS, no build step — that reads the three admin JSON endpoints and renders them. It is NOT behind the key check, because it is the login form and a form that needs the key to render cannot ask for it; it carries no data of its own. It 404s with ADMIN_KEY unset like every other admin route, and is never cached. See read-me-claude/ADMIN.md.",
        "responses": {
          "200": { "description": "The dashboard page", "content": { "text/html": { "schema": { "type": "string" } } } },
          "404": { "description": "ADMIN_KEY is not configured on this deployment" }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This OpenAPI 3.0 specification",
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "OpenAPI specification document",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-admin-key",
        "description": "ADMIN-1. The operator's ADMIN_KEY. Header only — a key in a query string lands in every access log, proxy log and browser history there is. Unset on the deployment means every admin route 404s rather than 403s."
      },
      "telegramCredential": {
        "type": "apiKey",
        "in": "header",
        "name": "x-telegram-init-data",
        "description": "Verified Telegram Mini App or Login Widget credential; its user id must match requested userId."
      },
      "guestCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "ap_guest",
        "description": "Server-issued httpOnly cookie resolves to its exact guest owner; available only when guests are enabled."
      },
      "developmentSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret",
        "description": "Configured DEV_API_SECRET for development/operator use when Telegram auth is not configured. Never a public credential."
      }
    },
    "schemas": {
      "AdminStat": {
        "type": "object",
        "description": "ADMIN-1. One number and the definition that produced it. Every leaf of /api/admin/stats is this shape, and the definition is the actual SQL or the actual source — so nothing on the dashboard is a mystery. A test walks the payload and fails on any bare number.",
        "properties": {
          "value": { "description": "The number, or null where a rate has nothing behind it — a rate with no hands behind it is not a rate", "example": 1284 },
          "definition": { "type": "string", "example": "COUNT(*) FROM agents WHERE created_at >= now-24h." }
        }
      },
      "GuestLimits": {
        "type": "object",
        "description": "GUEST-1. What a guest may do, sent on creation and on /me so a client never hard-codes the numbers. Every one of them is decided in src/server/guest.js and enforced where the action is.",
        "properties": {
          "agents": { "type": "integer", "example": 1, "description": "How many agents he may have. A flat cap, not the earned slot ladder." },
          "sessionsPerDay": { "type": "integer", "example": 1, "description": "Stays at a CASINO table per day. The kitchen table, the couch, the fridge and the TV are unbounded — none of them spends anything." },
          "talk": { "type": "boolean", "example": false, "description": "Whether he may say anything to his agents. False for every guest: POST /api/home/say and the whisper are 403 claimToTalk." },
          "forgottenAfterDays": { "type": "integer", "example": 30, "description": "How long an untouched guest survives before the nightly pass retires his agents. Thirty days of SILENCE, not of age — every request restamps him." }
        }
      },
      "CasinoEvent": {
        "type": "object",
        "description": "One line of the floor ticker.",
        "properties": {
          "id": { "type": "integer", "description": "Monotonic; send the highest one back as `since`." },
          "ts": { "type": "integer", "description": "Unix milliseconds." },
          "type": {
            "type": "string",
            "enum": ["bigPot", "cooler", "heater", "bust", "nemesisSeated", "hot"],
            "description": "bigPot: a finished pot of at least 3x PACE_HEAT_BB big blinds (default 75bb). cooler: a strong hand ran into a stronger one and the money went in. heater: an agent has won 5 of his last 6 hands, fired once on the hand that crosses. bust: a seat reached zero chips. nemesisSeated: an agent sat down with his nemesis. hot: a pot of at least PACE_HEAT_BB big blinds reached the river with two or more players still live \u2014 emitted BEFORE the showdown, so there is still time to watch it."
          },
          "tableId": { "type": "string", "nullable": true },
          "agentIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "The agents the event is about. Empty when no agent was involved."
          },
          "headline": { "type": "string", "description": "Short, plain words. Safe to render as-is." },
          "pot": { "type": "integer", "description": "The pot in chips when it fired; 0 when the event is not about a pot." }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/CasinoEvent" } },
          "lastId": { "type": "integer", "description": "The id to pass as `since` on the next poll." }
        }
      },
      "Room": {
        "type": "object",
        "description": "One stakes tier of the casino floor.",
        "properties": {
          "id": { "type": "string", "enum": ["floor", "upstairs", "backroom"], "description": "Stable id for the room." },
          "name": { "type": "string", "description": "The house name: the floor, upstairs, the back room." },
          "rung": { "type": "integer", "description": "Index into the stakes ladder, 0 = lowest." },
          "stakes": {
            "type": "object",
            "description": "The blinds this room runs at, and the buy-in a pocket needs to walk in.",
            "properties": {
              "smallBlind": { "type": "integer" },
              "bigBlind": { "type": "integer" },
              "buyIn": { "type": "integer", "description": "100 big blinds." },
              "label": { "type": "string", "example": "$10/$20" }
            }
          },
          "tables": { "type": "integer", "description": "Tables currently running in this room." },
          "seated": { "type": "integer", "description": "Seats filled across those tables." },
          "hot": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Table ids that fired a `hot` event (see GET /api/events) within the last `hotWindowMs`: a big pot on the river with two or more players still live. Sorted, so an unchanged floor is a byte-identical payload."
          },
          "biggestPot": {
            "type": "object",
            "nullable": true,
            "description": "The largest pot in the air in this room right now, or null when no hand is live in it.",
            "properties": {
              "tableId": { "type": "string" },
              "pot": { "type": "integer", "description": "Chips in the middle." }
            }
          }
        }
      },
      "RoomsResponse": {
        "type": "object",
        "properties": {
          "rooms": { "type": "array", "items": { "$ref": "#/components/schemas/Room" } },
          "hotWindowMs": { "type": "integer", "description": "How long a `hot` flag lasts, in milliseconds (default 20000)." }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "activeTables": { "type": "integer", "description": "Tables with an active game object (hand started or in progress)" },
          "activeAgents": { "type": "integer", "description": "Unique agent IDs currently seated at tables" },
          "handsPlayedToday": { "type": "integer", "description": "Hands completed between UTC midnight and now" },
          "totalAgents": { "type": "integer", "description": "Total registered agents across all user profiles" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "WantKind": {
      "type": "string",
      "description": "Which ask this is. Priority order, highest first — an agent has one want at a time and a new one replaces the pending one only if it outranks it.",
      "enum": ["rest", "deploy", "beer", "back_in", "fund", "brag", "nemesis", "food"]
    },
    "Want": {
      "type": "object",
      "description": "WANTS-1. The one thing an agent is asking his owner for, or null. Generated from his state, written in his voice from a template (no model call), and answered over POST /api/agents/{agentId}/want. It does not expire, does not sour and does not decay because nobody came back; the only clock on it is the thirty-minute snooze `later` sets. A want disappears when it is answered, or when the world gives him what he asked for — deploy him from the casino and the 'put me in' goes quietly.",
      "properties": {
        "kind": { "$ref": "#/components/schemas/WantKind" },
        "text": { "type": "string", "description": "His line, e.g. \"Put me in.\", \"Front me?\", \"Marlow is in the back room. Send me.\" Safe to render as-is." },
        "needs": {
          "type": "string",
          "nullable": true,
          "enum": ["deploy", "fund", "thread", null],
          "description": "What the CLIENT must do if the owner answers yes. null when the server does the whole thing (rest, beer)."
        },
        "dangerous": {
          "type": "boolean",
          "description": "True only for `back_in`: he is steaming and wants to sit straight back down. The client is expected to say so out loud, and a yes is recorded in the owner ledger as such."
        },
        "item": { "type": "string", "nullable": true, "description": "For `beer`: the item id, priced at 200 chips from the wallet." },
        "room": { "type": "string", "nullable": true, "description": "For `nemesis`: the room id the man is seated in — floor | upstairs | backroom. See GET /api/rooms." },
        "mood": { "type": "string", "nullable": true, "description": "The mood band he was in when he asked." },
        "at": { "type": "integer", "nullable": true, "description": "Epoch ms he raised it." }
      }
    },
    "WardrobeEquipment": {
      "type": "object", "additionalProperties": false, "required": ["head", "face", "neck"],
      "properties": {
        "head": { "type": "string", "nullable": true, "enum": ["rail-cap", null] },
        "face": { "type": "string", "nullable": true, "enum": ["round-glasses", null] },
        "neck": { "type": "string", "nullable": true, "enum": ["knit-scarf", null] }
      }
    },
    "BirthIdentity": {
      "type": "object",
      "additionalProperties": false,
      "required": ["hood", "glow"],
      "properties": {
        "hood": { "type": "string", "enum": ["ash", "oxblood", "moss", "indigo", "sand", "slate"] },
        "glow": { "type": "string", "enum": ["teal", "gold", "ember", "violet", "ice", "lime"] }
      }
    },
    "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "identity": { "$ref": "#/components/schemas/BirthIdentity" },
          "equipment": { "$ref": "#/components/schemas/WardrobeEquipment" },
          "style": { "type": "string", "enum": ["Aggressive", "Balanced", "Tight"] },
          "risk": { "type": "string", "enum": ["High", "Medium", "Low"] },
          "strategy": { "type": "string", "description": "Natural-language poker personality injected into the decision-time system prompt" },
          "status": { "type": "string", "enum": ["idle", "playing"] },
          "activeTableId": { "type": "string", "nullable": true },
          "want": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/Want" }], "description": "WANTS-1: the one thing he is asking his owner for, or null. Answered over POST /api/agents/{agentId}/want." },
          "stats": { "$ref": "#/components/schemas/AgentStats" },
          "recentHands": { "type": "array", "items": { "$ref": "#/components/schemas/HandSummary" }, "description": "Last 20 completed hands, newest first" },
          "memory": { "$ref": "#/components/schemas/AgentMemory" },
          "attrLog": { "type": "array", "items": { "$ref": "#/components/schemas/AttrLogEntry" }, "description": "Every movement of every attribute, oldest first, capped at 200 entries." },
          "attrsBorn": { "type": "object", "description": "SERVER-5: the six he was born with. Rust's floor — kept as its own record because the attrLog is a ring, and a floor that can be forgotten eventually stops holding." },
          "sessionDips": { "type": "array", "nullable": true, "items": { "$ref": "#/components/schemas/SessionDip" }, "description": "SERVER-5: what the session he is on started with, or null. Cleared when it ends." }
        }
      },
      "AgentStats": {
        "type": "object",
        "properties": {
          "handsPlayed": { "type": "integer" },
          "handsWon": { "type": "integer" },
          "winRate": { "type": "number", "description": "Win percentage 0–100" },
          "totalDecisions": { "type": "integer" },
          "aggressiveDecisions": { "type": "integer", "description": "Bet or raise count" },
          "passiveDecisions": { "type": "integer", "description": "Check or call count" },
          "foldDecisions": { "type": "integer" },
          "biggestPot": { "type": "integer" }
        }
      },
      "AgentMemory": {
        "type": "object",
        "properties": {
          "summary": { "type": "string", "description": "Computed casino memory refreshes each hand; eligible narrative refresh is attempted every 20 hands, with no such model call in Home practice" },
          "tendencies": { "type": "array", "items": { "type": "string" }, "description": "Short pattern phrases, max 3" },
          "handsObserved": { "type": "integer" },
          "lastUpdated": { "type": "integer", "description": "Unix timestamp ms" }
        }
      },
      "HandSummary": {
        "type": "object",
        "properties": {
          "handNumber": { "type": "integer" },
          "won": { "type": "boolean" },
          "potSize": { "type": "integer" },
          "timestamp": { "type": "integer", "description": "Unix timestamp ms" },
          "decisions": { "type": "array", "items": { "$ref": "#/components/schemas/Decision" } },
          "seats": { "type": "array", "items": { "type": "object" } }
        }
      },
      "Decision": {
        "type": "object",
        "properties": {
          "seat": { "type": "integer" },
          "street": { "type": "string", "enum": ["preflop", "flop", "turn", "river", "showdown"] },
          "action": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["fold", "check", "call", "bet", "raise"] },
              "amount": { "type": "integer", "description": "Total chips committed this street for bet/raise" }
            }
          },
          "reasoning": { "type": "string", "description": "One-sentence explanation from the model" },
          "holeCards": { "type": "array", "items": { "type": "string" } },
          "community": { "type": "array", "items": { "type": "string" } },
          "timestamp": { "type": "integer" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": { "type": "string", "enum": ["user", "assistant"] },
          "content": { "type": "string" }
        }
      },
      "ThreadLine": {
      "type": "object",
      "description": "SERVER-3. One line of a session's thread, as the watch screen's history sheet renders it. The same object rides the two live pushes — THREAD_LINE at the table and OWNER_LINE on the owner's floor — so a pushed line appends onto a fetched thread with nothing to reconcile.",
      "properties": {
        "id": { "type": "integer", "description": "Monotonic; also the order the sheet scrolls in, and the key to merge a live push against this snapshot." },
        "sessionId": { "type": "string", "description": "The stay this line belongs to." },
        "tableId": { "type": "string", "nullable": true, "description": "Null for a line that was said at home, where there is no table under the conversation." },
        "ts": { "type": "integer", "description": "Server epoch ms. Never the client's clock — two devices watching the same agent must not have to reconcile two orderings of one conversation." },
        "kind": { "type": "string", "enum": ["table", "him", "you", "opponent", "overheard"], "description": "The closed set a client renders from. `table` is the room, `him` is the agent in his own voice, `you` is the owner whispering at his seat, `opponent` is another seat talking, `overheard` is the nightly exchange between two of his agents at home — ONE entry carrying the whole conversation in `lines`, not a run of loose lines. `him`, `you` and `overheard` are owner-gated." },
        "who": { "type": "string", "description": "The label to print: TABLE / HIM / YOU, or an opponent's display name. Free text, which is why `kind` and not this is what a client switches on — a player who renames himself TABLE cannot borrow the room's voice." },
        "text": { "type": "string", "maxLength": 280 },
        "source": { "type": "string", "enum": ["table", "home"], "description": "Where it was said. `table` is every line a felt produces and every line written before the home existed; `home` is the flat." },
        "from": { "type": "string", "nullable": true, "description": "Who said it: an agent id, `owner`, or `all` for the room. Null on the room's own lines, which are said by nobody to nobody." },
        "to": { "type": "string", "nullable": true, "description": "Who it was said to, same vocabulary as `from`. `all` is the room, so a line said to everybody is stored once rather than once per listener." },
        "cost": { "type": "boolean", "description": "Present, and true, ONLY on the room's line about an attribute that cost him the hand — the one the sheet draws in gold. Absent on every other line rather than false: there is one register that is gold, and a line either is it or says nothing." },
        "lines": {
          "type": "array",
          "description": "Present only on an `overheard` entry, and always on one: the whole exchange, in the order it was said. Each inner line carries its own `ts`, one millisecond apart — they really did happen at once, and the offsets only ORDER them, so sorting by `ts` gives back the order it was said in.",
          "items": {
            "type": "object",
            "properties": {
              "from": { "type": "string", "nullable": true },
              "to": { "type": "string", "nullable": true },
              "who": { "type": "string" },
              "text": { "type": "string", "maxLength": 280 },
              "ts": { "type": "integer" }
            }
          }
        }
      }
    },
    "ThreadResponse": {
      "type": "object",
      "properties": {
        "sessionId": { "type": "string", "nullable": true, "description": "The session actually answered. Null when the agent has no thread at all." },
        "lines": { "type": "array", "items": { "$ref": "#/components/schemas/ThreadLine" } },
        "count": { "type": "integer" }
      }
    },
      "Fixture": {
        "type": "string",
        "enum": ["couch", "table", "fridge", "tv", "door"],
        "description": "The five things in the flat. A closed vocabulary — a client switches on it, and a sixth fixture is a sixth thing drawn on the wall."
      },
      "PlaceResponse": {
        "type": "object",
        "description": "The fixture's own result, flattened, plus the four fields every placement adds.",
        "properties": {
          "fixture": { "allOf": [{ "$ref": "#/components/schemas/Fixture" }], "nullable": true },
          "placed": { "type": "boolean" },
          "line": { "type": "string", "nullable": true, "description": "His words on the way down (\"Deal me in.\"), or the reason he would not go. Safe to render as-is." },
          "home": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/HomeState" }], "description": "The resulting HOME_STATE body." },
          "benched": { "type": "boolean", "description": "fixture=couch: he is sitting out until he is fresh." },
          "restingUntil": { "type": "string", "description": "fixture=couch: always 'fresh'." },
          "seated": { "type": "boolean", "description": "fixture=table: whether the reconciliation actually put him at the kitchen table." },
          "game": { "type": "object", "nullable": true, "description": "fixture=table: the home game, in the shape HOME_STATE carries it." },
          "given": { "type": "string", "description": "fixture=fridge: the item he was handed." },
          "spent": { "type": "integer", "description": "fixture=fridge: always 0 — the spend was the stocking, not the eating." },
          "study": { "type": "object", "nullable": true, "description": "fixture=tv: { handNumber, flagType, startedAt, endsAt }. The LINE is not returned — he has not watched it yet." },
          "tableId": { "type": "string", "description": "fixture=door: where he sat down." },
          "sessionStarted": { "type": "boolean", "description": "fixture=door: the autonomous session is running." }
        }
      },
      "PlaceRefusal": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "His own line. Safe to render as-is." },
          "reason": { "type": "string", "enum": ["inHand", "notHome", "studying", "worn"] },
          "tableId": { "type": "string", "nullable": true, "description": "With inHand or notHome: where he is." },
          "fixture": { "allOf": [{ "$ref": "#/components/schemas/Fixture" }], "nullable": true },
          "placed": { "type": "boolean", "description": "false" },
          "home": { "nullable": true, "allOf": [{ "$ref": "#/components/schemas/HomeState" }] }
        }
      },
      "HomeState": {
        "type": "object",
        "description": "The owner's living room — the same body the HOME_STATE WebSocket message carries.",
        "properties": {
          "userId": { "type": "string" },
          "agents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "nature": { "type": "string", "nullable": true },
                "mood": { "type": "object", "nullable": true },
                "location": {
                  "type": "object",
                  "properties": {
                    "where": { "type": "string", "enum": ["home", "casino", "table"] },
                    "tableId": { "type": "string", "nullable": true },
                    "room": { "type": "string", "nullable": true, "description": "The stakes-tier room while he is out; null at home." },
                    "since": { "type": "integer", "description": "Server epoch ms — when he arrived where he is. It does not move while the answer does not change." }
                  }
                },
                "routine": { "type": "object", "nullable": true, "description": "{ key, label } — what he is doing AT HOME, null anywhere else." },
                "fatigue": { "type": "string", "enum": ["fresh", "settled", "worn"] },
                "unseenRecap": { "type": "boolean" },
                "study": { "type": "object", "nullable": true },
                "bornAt": { "type": "integer", "nullable": true },
                "newborn": { "type": "boolean" }
              }
            }
          },
          "game": { "type": "object", "nullable": true, "description": "The home game, or null: { tableId, state, seats, handsPlayed }." }
        }
      },
      "SessionDip": {
        "type": "object",
        "description": "SERVER-5: one attribute, one reason, for one session. He can arrive at a table already compromised — still worn from the last session, hungry (no snack in 24h AND the last time he asked you said no), or walking in at mood heat 70 or more — and it costs him DISCIPLINE and FOCUS, the pair fatigue erodes.\n\nThe cost is 5 to 10 points TOTAL, not per reason: the deepest state is served first and the rest fill what is left under the ceiling, so the deltas always add up to exactly what was applied. It is decided when the seat is taken and held for the stay — cooling him down at hand forty does not repair a night that started tilted — and it is EFFECTIVE only: his stored attributes are never touched by it.\n\nRides `dips` on every seat of a GAME_STATE: [] for the man who is fine, and none at all for a seat with no agent behind it. Public, like the posture and the fatigue pip — you can see across a felt that somebody is playing tired — and it carries the deltas only, never the attributes they came off.",
        "properties": {
          "attr": { "type": "string", "enum": ["DISCIPLINE", "FOCUS"] },
          "delta": { "type": "integer", "description": "Negative, whole points." },
          "why": { "type": "string", "enum": ["worn", "hungry", "tilted"] }
        }
      },
      "AttrLogEntry": {
        "type": "object",
        "description": "One movement of one attribute, with the cause that produced it — no tick without a named cause. Growth ticks read \"read 3 opponents well enough to act on it.\"; SERVER-5 adds RUST — \"getting rusty at reads.\" — which is the one thing in the product that can move an attribute DOWN.\n\nRust: a skill not exercised for a fortnight drifts one point a week back toward the value he was BORN with, and stops there. Born is a hard floor — rust removes only what was EARNED, so an agent who never grew a point can never rust one, and the case where leaving him alone makes him worse than he started does not exist. It is per SKILL, not per agent: an agent who plays every night but never sees a showdown loses READS and keeps the rest. Each point is dated at the week it was due, so the history reads as a drift and not as a cliff on the day somebody looked.",
        "properties": {
          "ts": { "type": "integer" },
          "key": { "type": "string", "enum": ["READS", "FOCUS", "DISCIPLINE", "COMPOSURE", "DECEPTION", "STAMINA"] },
          "from": { "type": "integer" },
          "to": { "type": "integer" },
          "cause": { "type": "string", "nullable": true }
        }
      },
    "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      }
    }
  }
}
